-
    var crumbsList = [
        {href: '#', title:'Main Page'},
        {href: '#', title:'Новости и анонсы'}
    ];

.crumbs
    ul.crumbs__list
        each crumb in crumbsList
            li.crumbs__item
                a.crumbs__link(href=crumb.href) #{crumb.title}
                    svg.crumbs__icon
                        use(xlink:href='#next')
    // /cumbs__list
    .line