nav.nav
    button#search-open.btn.btn--search(type="button" aria-label='Поиск')
        svg.btn__icon
            use(xlink:href='#search')

    a.btn.btn--profile(href='#' aria-label='Личный кабинет')
        svg.btn__icon
            use(xlink:href='#profile')

    a.btn.btn--charge(href='#' aria-label='калькулятор зарядки')
        svg.btn__icon
            use(xlink:href='#charge')

    a.btn.btn--compare(href='#' aria-label='сравнение')
        svg.btn__icon
            use(xlink:href='#compare')

    button.btn(type="button" aria-label='Меню')
        svg.btn__icon
            use(xlink:href='#menu-icon')
