.search
    form.search__from
        button.search__btn.search__btn--submit(type="submit")
            svg.search__icon
                use(xlink:href='#search')
        |
        |
        input.search__input(type='text' placeholder='Найдите ваш электромобиль')
        |
        |
        button#search-close.search__btn.search__btn--close(type="button")
            svg.search__icon
                use(xlink:href='#close')
